<div class="dialog">
  <!-- Header -->
  <header class="header">
    <div>
      <h2>{{ event.title }}</h2>
    </div>

    <button mat-icon-button type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <!-- Body -->
  <div class="dialog-body">
    <!-- Event Image -->
    @if (props().imageUrl) {
      <section class="event-image">
        <img [src]="props().imageUrl" [alt]="event.title" />
      </section>
    }

    <!-- Status -->
    <div class="event-status">
      <span
        class="status"
        [class.published]="props().status === EventStatusEnum.PUBLISHED"
        [class.sold-out]="props().status === EventStatusEnum.SOLD_OUT"
        [class.completed]="props().status === EventStatusEnum.COMPLETED"
        [class.cancelled]="props().status === EventStatusEnum.CANCELLED"
      >
        {{ props().status }}
      </span>
    </div>

    <!-- Description -->
    @if (props().description) {
      <section class="description">
        {{ props().description }}
      </section>
    }

    <!-- Event Information -->
    <section class="grid">
      <div class="card">
        <mat-icon>schedule</mat-icon>

        <div>
          <label>Starts</label>
          <span>
            {{ event.start | date: 'EEEE, d MMM y • h:mm a' }}
          </span>
        </div>
      </div>

      <div class="card">
        <mat-icon>event</mat-icon>

        <div>
          <label>Ends</label>
          <span>
            {{ event.end | date: 'EEEE, d MMM y • h:mm a' }}
          </span>
        </div>
      </div>

      <!-- <div class="card">
        <mat-icon>person</mat-icon>

        <div>
          <label>Organizer ID</label>
          <span>#{{ props().organizerId }}</span>
        </div>
      </div> -->

      <div class="card">
        <mat-icon>location_on</mat-icon>

        <div>
          <label>Venue</label>
          <span>{{ props().venue.name }}</span>
        </div>
      </div>

      <div class="card">
        <mat-icon>category</mat-icon>

        <div>
          <label>Category</label>
          <span>{{ props().venue.category.name }}</span>
        </div>
      </div>
    </section>

    <!-- Seat Categories -->
    <section class="seat-section">
      <div class="section-title">
        <div class="section-icon">
          <mat-icon>airline_seat_recline_normal</mat-icon>
        </div>

        <div>
          <span>Seat Categories</span>
          <small> {{ props().seatCategories.length }} categories </small>
        </div>
      </div>

      @for (seat of props().seatCategories; track seat.id) {
        <div class="seat">
          <div class="seat-info">
            <div class="seat-icon">
              <mat-icon>event_seat</mat-icon>
            </div>

            <div>
              <h4>{{ seat.name }}</h4>

              <small>
                {{ seat.availableSeats }} /
                {{ seat.totalSeats }}
                available
              </small>
            </div>
          </div>

          <strong>
            {{ seat.price | currency: 'EGP' : 'symbol' : '1.0-0' }}
          </strong>
        </div>
      }
    </section>
  </div>

  <!-- Footer -->
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="button" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
